@media (min-width: 1550px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1540px;
  }
}
@media screen and (max-width: 1549px) and (min-width: 1400px) {
  .xlarge {
    font-size: 60px;
  }
  .main_bx .hero_img {
    width: 500px;
  }
  .main_bx {
    border-radius: 30px;
    padding: 30px;
  }
  .feature_cards_row {
    gap: 25px 20px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 54%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 44%;
    grid-template-columns: 1fr;
  }
  .medium {
    font-size: 34px;
  }
  .large_text {
    font-size: 20px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(53px, 45px) scale(0.9);
  }
  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .security_content .feature_image {
    transform: translate(-26px, 3px) scale(1.2);
  }
  /* technology */
  .powering_cards .main_bx:nth-child(2) {
    width: 56%;
  }
  .powering_cards .main_bx:nth-child(1) {
    width: 40%;
  }
  .powering_cards .main_bx {
    width: 48%;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
  }
  .tockenized_section .main_bx .invest {
    width: 330px;
    margin: 0;
  }
  .techstack_data {
    padding: 0 130px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 130px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  header nav {
    border-radius: 0 0 30px 30px;
  }
  section {
    padding: 80px 0;
  }
  .xlarge {
    font-size: 46px;
  }
  .body_text {
    font-size: 22px;
  }
  .main_bx .hero_img {
    width: 500px;
  }
  .main_bx {
    border-radius: 25px;
    padding: 25px;
  }
  .feature_cards_row {
    gap: 25px 20px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 54%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 44%;
    grid-template-columns: 1fr;
  }
  .properties .medium,
  .medium {
    font-size: 30px;
  }
  .large_text {
    font-size: 18px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(53px, 45px) scale(0.9);
    width: 65%;
  }

  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .feature_card {
    padding: 20px;
    grid-template-columns: 60% 38%;
    gap: 15px;
  }
  .feature_cards_row .feature_card:nth-child(2) .description2 {
    max-width: 285px;
  }
  .sm_btn {
    padding: 14px 18px !important;
  }
  .feature_cards_row .feature_card:nth-child(4) {
    grid-template-columns: 38% 60%;
  }
  .feature_cards_row .feature_card:nth-child(1) .feature_image,
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .feature_image {
    margin-top: -225px;
  }
  .security_card {
    padding: 30px;
    gap: 20px;
  }
  .security_content {
    display: grid;
    grid-template-columns: 55% auto;
  }
  .security_content .feature_image {
    transform: translate(-14px, 5px) scale(1.2);
  }
  .feature_image {
    width: 100%;
  }
  /* footer */
  .normal {
    font-size: 40px;
  }
  .ft_midle_bar img {
    height: 80px;
  }
  .ft_menu ul {
    padding: 20px 0 20px 20px;
    gap: 30px;
  }
  footer {
    padding: 0 20px;
  }
  /* technology */
  .powering_cards .main_bx:nth-child(2) {
    width: 56%;
  }
  .powering_cards .main_bx:nth-child(1) {
    width: 40%;
  }
  .powering_cards .main_bx {
    width: 48%;
  }
  .auto-changing-content {
    flex-wrap: wrap;
  }
  .auto-changing-content img {
    width: 220px;
    margin-bottom: 30px;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
  }
  .tockenized_section .main_bx .invest {
    width: 280px;
    margin: -10px;
  }
  .techstack_data {
    padding: 0 60px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 60px;
  }
  .tockenized_section .main_bx .radial_img img {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  header nav {
    border-radius: 0 0 30px 30px;
  }
  section {
    padding: 60px 0;
  }
  .xlarge {
    font-size: 42px;
  }
  .sub_heading {
    font-size: 22px;
  }
  .medium_text {
    font-size: 18px;
  }
  .xsmall {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  .body_text {
    font-size: 20px;
  }
  .small {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .hero_section {
    padding: 100px 0 40px;
    overflow-x: hidden;
  }
  .main_bx .hero_img {
    width: 100%;
    margin-top: -250px;
  }
  .main_bx {
    border-radius: 25px;
    padding: 25px;
  }
  .feature_cards_row {
    gap: 15px 10px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 50%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 48%;
    grid-template-columns: 60% 36%;
  }
  .properties .medium,
  .medium {
    font-size: 30px;
  }
  .large_text {
    font-size: 18px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(42px, 35px) scale(0.9);
    width: 65%;
    margin-top: -90px;
  }

  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .feature_card {
    padding: 20px;
    grid-template-columns: 60% 38%;
    gap: 15px;
  }
  .feature_cards_row .feature_card:nth-child(2) .description2 {
    max-width: 285px;
  }
  .sm_btn {
    padding: 14px 18px !important;
  }
  .feature_cards_row .feature_card:nth-child(4) {
    grid-template-columns: 38% 60%;
  }
  .feature_cards_row .feature_card:nth-child(1) .feature_image,
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .feature_image {
    margin-top: 0;
    width: 75%;
  }

  .hero_content {
    flex-wrap: wrap;
  }
  .logo_symbol_bx {
    padding: 12px;
    gap: 10px;
    transform: translate(-180px, -120px);
  }
  .logo_symbol_bx img {
    width: 50px;
  }
  /* navbar */
  .navbar-brand {
    width: 180px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .nav-link {
    padding: 12px 14px;
    font-size: 16px;
    font-weight: 600;
  }
  .nav-link.dropdown-toggle,
  .btns {
    padding: 10px 20px !important;
    font-size: 16px;
    font-weight: 600;
  }
  .security_card {
    padding: 30px;
    gap: 20px;
  }
  .security_content {
    display: grid;
    grid-template-columns: 55% auto;
  }
  .security_content .feature_image {
    transform: translate(-11px, 6px) scale(1.23);
  }
  .feature_image {
    width: 100%;
  }
  /* footer */
  .normal {
    font-size: 36px;
  }
  .ft_midle_bar img {
    height: 100px;
  }
  .ft_menu ul {
    padding: 20px 0 20px 20px;
    gap: 30px;
    border-top: 1px solid #ffffff75;
    border-left: 0;
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 0 20px;
  }
  .ft_midle_bar {
    flex-wrap: wrap;
    padding: 20px 20px 0;
    gap: 20px;
    border-top: 1px solid rgb(255 255 255 / 55%);
    border-bottom: 1px solid rgb(255 255 255 / 55%);
  }
  .ft_menu {
    width: 100%;
  }
  .large_btn {
    font-size: 18px;
  }

  /* investment */
  .properties .property_data:nth-child(2n) {
    grid-template-columns: 70% 27%;
  }

  .property_data {
    grid-template-columns: 27% 70%;
    padding: 40px;
    max-height: 390px;
    margin-top: 20px;
  }
  .partners .partners_data {
    width: 47%;
  }
  /* technology */
  .powering_cards .main_bx:nth-child(2) {
    width: 52%;
  }
  .powering_cards .main_bx:nth-child(1) {
    width: 44%;
  }
  .powering_cards .main_bx {
    width: 48%;
  }
  .powering_cards .main_bx:nth-child(3) {
    grid-template-columns: 65% auto;
    gap: 10px;
  }
  .auto-changing-content {
    flex-wrap: wrap;
  }
  .auto-changing-content img {
    width: 240px;
    margin-bottom: 30px;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
  }
  .tockenized_section .main_bx .invest {
    width: 280px;
    margin: -10px;
  }
  .techstack_data {
    padding: 0 60px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 60px;
  }
  .tockenized_section .main_bx .radial_img img {
    left: auto;
    right: 0;
  }

  .tockenized_section .main_bx,
  .tockenized_section .main_bx2 {
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  header nav {
    border-radius: 0 0 30px 30px;
  }
  section {
    padding: 50px 0;
  }
  .xlarge {
    font-size: 38px;
  }
  .xsmall {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  .body_text {
    font-size: 18px;
    font-weight: 500 !important;
  }
  .property_data p,
  .small {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .hero_section {
    padding: 100px 0 40px;
    overflow-x: hidden;
  }
  .main_bx .hero_img {
    width: 100%;
    margin-top: -250px;
  }
  .main_bx {
    border-radius: 20px;
    padding: 20px !important;
  }
  .feature_cards_row {
    gap: 15px 10px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 100%;
    grid-template-columns: 60% 36%;
  }
  .partners_logo .medium,
  .properties .medium,
  .medium {
    font-size: 26px;
    font-weight: 700;
  }
  .large_text {
    font-size: 18px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(20px, 20px);
    width: auto;
    margin-top: -60px;
  }

  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .feature_card {
    padding: 20px;
    grid-template-columns: 60% 38%;
    gap: 15px;
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .description2 {
    max-width: max-content;
  }
  .sm_btn {
    padding: 14px 18px !important;
  }
  .feature_cards_row .feature_card:nth-child(4) {
    grid-template-columns: 38% 60%;
  }
  .feature_cards_row .feature_card:nth-child(1) .feature_image,
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .feature_image {
    margin-top: 0;
    width: 75%;
  }

  .hero_content {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .logo_symbol_bx {
    padding: 12px;
    gap: 10px;
    transform: translate(-180px, -120px);
  }
  .logo_symbol_bx img {
    width: 50px;
  }
  /* navbar */
  .navbar-brand {
    width: 180px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-nav {
    gap: 10px;
    padding: 10px 0 15px;
  }
  .nav-link {
    padding: 6px 8px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }
  .nav-link.dropdown-toggle,
  .btns {
    padding: 10px 20px !important;
    font-size: 16px;
    font-weight: 600;
  }
  .security_card {
    padding: 30px;
    gap: 20px;
  }
  .security_content {
    grid-template-columns: 100%;
    gap: 5px;
  }
  .security_content .feature_image {
    transform: translate(31px, 30px);
  }
  .investment_content {
    gap: 6px;
  }
  .feature_image {
    width: 100%;
  }
  .large_btn {
    font-size: 16px;
  }
  .form_group {
    flex-wrap: wrap;
  }
  .title_bx {
    gap: 15px;
    margin-bottom: 25px;
  }
  .sub_heading {
    font-size: 20px;
  }
  .medium_text {
    font-size: 18px;
  }
  /* footer */
  .normal {
    font-size: 36px;
  }
  .ft_midle_bar img {
    height: 100px;
  }
  .ft_menu ul {
    padding: 20px 0 20px 20px;
    gap: 30px;
    border-top: 1px solid #ffffff75;
    border-left: 0;
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 0 40px;
  }
  .ft_midle_bar {
    flex-wrap: wrap;
    padding: 20px 20px 0;
    gap: 20px;
    border-top: 1px solid rgb(255 255 255 / 55%);
    border-bottom: 1px solid rgb(255 255 255 / 55%);
  }
  .ft_menu {
    width: 100%;
  }
  /* investment */
  .properties .property_data:nth-child(2n) {
    grid-template-columns: 70% 27%;
  }

  .property_data {
    grid-template-columns: 24% 72%;
    padding: 25px;
    max-height: 335px;
    margin-top: 20px;
  }
  .property_content {
    gap: 10px;
  }
  .property_data a {
    margin-top: 10px;
  }
  .property_data img {
    transform: translate(0px, -20px) scale(1.2);
  }
  .partners .partners_data {
    width: 47%;
  }
  .partners_logo {
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
  }
  .logos {
    gap: 20px;
  }
  /* technology */
  .powering_cards .main_bx:nth-child(2) {
    width: 100%;
  }
  .powering_cards .main_bx:nth-child(1) {
    width: 100%;
  }
  .powering_cards .main_bx {
    width: 100%;
  }
  .powering_cards .main_bx:nth-child(3) {
    grid-template-columns: 100%;
    gap: 25px;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
    margin: -10px 0 14px 0px;
    transform: scale(1.1);
  }
  .tockenized_section .main_bx .invest {
    width: 250px;
    margin: 0px;
  }
  .earn {
    margin-bottom: -130px;
    transform: translate(0px, -10px);
  }

  .techstack_data {
    padding: 0 25px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 25px;
  }
  .tockenized_section .main_bx .radial_img img {
    left: auto;
    right: 0;
  }
  .tockenized_section .main_bx,
  .tockenized_section .main_bx2 {
    display: flex;
    align-items: start;
    gap: 0px;
    justify-content: start;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  header nav {
    border-radius: 0 0 30px 30px;
  }
  section {
    padding: 50px 0 40px;
  }
  .xlarge {
    font-size: 34px;
  }
  .xsmall {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  .body_text {
    font-size: 18px;
    font-weight: 500 !important;
  }
  .property_data p,
  .small {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .hero_section {
    padding: 50px 0 40px;
    overflow-x: hidden;
  }
  .large_btn {
    font-size: 16px;
  }
  .form_group {
    flex-wrap: wrap;
  }
  .title_bx {
    gap: 15px;
    margin-bottom: 25px;
  }
  .sub_heading {
    font-size: 18px;
  }
  .medium_text {
    font-size: 15px;
  }
  .main_bx .hero_img {
    width: 86%;
  }
  .main_bx {
    border-radius: 20px;
    padding: 20px !important;
    height: 520px;
  }
  .investment_section .main_bx {
    height: initial;
  }
  .feature_cards_row {
    gap: 15px 10px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 100%;
    grid-template-columns: 60% 36%;
  }
  .properties .medium,
  .medium {
    font-size: 26px;
    font-weight: 700;
  }
  .large_text {
    font-size: 18px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(20px, 20px);
    width: 100%;
    margin-top: -50px;
  }

  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .feature_card {
    padding: 20px;
    grid-template-columns: 60% 38%;
    gap: 15px;
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .description2 {
    max-width: max-content;
  }
  .feature_cards_row .feature_card:nth-child(1) .description2,
  .feature_cards_row .feature_card:nth-child(4) .description2 {
    display: none;
  }
  .sm_btn {
    padding: 14px 18px !important;
  }
  .feature_cards_row .feature_card:nth-child(4) {
    grid-template-columns: 38% 60%;
  }
  .feature_cards_row .feature_card:nth-child(1) .feature_image,
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    width: 100%;
    transform: translateY(20px);
  }
  .feature_cards_row .feature_card:nth-child(2) .feature_image {
    margin-top: 0;
    width: 85% !important;
    transform: translateX(0);
  }

  .hero_content {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .logo_symbol_bx {
    padding: 12px;
    gap: 10px;
    transform: translate(-55px, -140px);
  }
  .logo_symbol_bx img {
    width: 50px;
  }
  header {
    padding: 0 25px;
  }
  /* navbar */
  .navbar-brand {
    width: 180px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-nav {
    gap: 10px;
    padding: 10px 0 15px;
  }
  .nav-link {
    padding: 6px 8px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }
  .nav-link.dropdown-toggle,
  .btns {
    padding: 10px 14px !important;
    font-size: 15px;
    font-weight: 500;
  }
  .security_card {
    padding: 30px !important;
    gap: 20px;
  }
  .security_content {
    grid-template-columns: 100%;
    gap: 5px;
  }
  .security_content .feature_image {
    transform: translate(31px, 30px);
  }
  .investment_card {
    padding: 0 0 0 32px;
  }
  .investment_content {
    gap: 10px;
    width: fit-content;
    min-width: 380px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 9;
    backdrop-filter: blur(20px);
    border: 1px solid #ffffff4a;
    background-color: #ffffff59;
  }
  .feature_image {
    width: 480px;
    transform: translateX(-150px);
  }

  .accordion-item:first-of-type,
  .accordion-item:last-of-type,
  .accordion-item {
    border-radius: 20px;
    padding: 5px;
  }

  /* footer */
  .normal {
    font-size: 30px;
    font-weight: 700;
  }
  .ft_midle_bar img {
    height: 100px;
  }
  .ft_menu ul {
    padding: 15px 0;
    gap: 20px;
    border-top: 1px solid #ffffff75;
    border-left: 0;
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 0 25px;
  }
  .ft_midle_bar {
    flex-wrap: wrap;
    padding: 20px 0px 0;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px 40px;
    border-top: 1px solid rgb(255 255 255 / 55%);
    border-bottom: 1px solid rgb(255 255 255 / 55%);
  }
  .ft_menu {
    width: 100%;
  }
  /* investment */

  .property_data {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    max-height: initial;
    margin-top: 20px;
  }
  .property_content {
    gap: 8px;
  }
  .property_data a {
    margin-top: 10px;
  }
  .property_data img {
    transform: initial;
  }
  .property_data p {
    flex-wrap: wrap;
    gap: 4px;
  }

  .partners .partners_data {
    width: 100%;
  }
  .partners_logo {
    border-radius: 20px;
    padding: 25px;
    gap: 15px;
  }
  .logos {
    gap: 30px;
  }
  .partners .partners_data:last-child {
    grid-template-columns: 100%;
    gap: 10px;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
    margin: -10px 0 14px 0px;
    transform: scale(1.1);
  }
  .tockenized_section .main_bx .invest {
    width: 250px;
    margin: 0px;
  }
  .earn {
    margin-bottom: -130px;
    transform: translate(0px, -10px);
  }

  .techstack_data {
    padding: 0 25px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 25px;
  }
  .tockenized_section .main_bx .radial_img img {
    left: auto;
    right: 0;
  }
  .tockenized_section .main_bx,
  .tockenized_section .main_bx2 {
    display: flex;
    align-items: start;
    gap: 0px;
    justify-content: start;
    margin-bottom: 20px;
  }
  .tockenized_section .row.g-5 {
    gap: 20px 0;
  }
  .techstack_section .container-fluid .row {
    margin-bottom: 20px;
    gap: 20px 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
  .g-5,
  .gy-5 {
    --bs-gutter-y: initial;
  }
  .g-5,
  .gx-5 {
    --bs-gutter-x: initial;
  }
  /* technology */
  .powering_cards .main_bx:nth-child(2) {
    width: 100%;
  }
  .powering_cards .main_bx:nth-child(1) {
    width: 100%;
  }
  .powering_cards .main_bx {
    width: 100%;
    height: auto;
  }
  .powering_cards .main_bx:nth-child(3) {
    grid-template-columns: 100%;
    gap: 25px;
  }
  .powering_cards .main_bx .btns {
    padding: 10px 12px !important;
    font-size: 15px;
    white-space: break-spaces;
  }
  /* how-its-work */
  .tockenized_section .main_bx .discover {
    width: 100%;
    margin: -10px 0 14px 0px;
    transform: scale(1.1);
  }
  .tockenized_section .main_bx .invest {
    width: 250px;
    margin: 0px;
  }
  .earn {
    margin-bottom: -120px;
    transform: translate(0px, -40px);
  }

  .techstack_data {
    padding: 0 25px 0 0;
  }
  .techstack_section .row:nth-child(2) .techstack_data {
    padding: 0 0 0 25px;
  }
  .tockenized_section .main_bx .radial_img img {
    left: auto;
    right: 0;
  }
  .tockenized_section .main_bx,
  .tockenized_section .main_bx2 {
    display: flex;
    align-items: start;
    gap: 0px;
    justify-content: start;
    margin-bottom: 20px;
  }
  .tockenized_section .row.g-5 {
    gap: 20px 0;
  }
  .techstack_section .container-fluid .row {
    margin-bottom: 20px;
    gap: 20px 0;
  }
  .row.main_bx.main_bx3 {
    height: auto;
    flex-wrap: wrap;
    display: flex;
    gap: 10px 0;
    margin: 0;
  }
  .auto-changing-content {
    flex-wrap: wrap;
  }
  .auto-changing-content img {
    width: 200px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) and (min-width: 200px) {
  header nav {
    border-radius: 0 0 25px 25px;
  }
  section {
    padding: 40px 0 20px;
  }
  .xlarge {
    font-size: 34px;
  }
  .xsmall {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  .body_text {
    font-size: 18px;
    font-weight: 500 !important;
  }
  .small {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .hero_section {
    padding: 50px 0 40px;
    overflow-x: hidden;
  }
  .large_btn {
    font-size: 16px;
  }
  .form_group {
    flex-wrap: wrap;
  }
  .title_bx {
    gap: 15px;
    margin-bottom: 25px;
  }
  .sub_heading {
    font-size: 18px;
  }
  .medium_text {
    font-size: 15px;
  }
  .main_bx .hero_img {
    width: 86%;
  }
  .main_bx {
    border-radius: 20px;
    padding: 20px !important;
    height: 520px;
    margin-bottom: 25px;
  }
  .feature_cards_row {
    gap: 15px 10px;
  }
  .feature_cards_row .feature_card:nth-child(1) {
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) {
    max-width: 100%;
    grid-template-columns: 100%;
  }
  .partners_logo .medium,
  .properties .medium,
  .medium {
    font-size: 26px;
    font-weight: 700;
  }
  .large_text {
    font-size: 18px;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_content {
    transform: translateY(-12px);
    align-content: baseline;
  }
  .feature_cards_row .feature_card:nth-child(3) .feature_image {
    transform: translate(20px, 20px);
    width: 100%;
    margin-top: -50px;
  }

  .feature_cards_row .feature_card:nth-child(4) .feature_content {
    grid-area: initial;
  }
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    grid-area: inherit;
  }
  .feature_cards_row .feature_card:nth-child(3) .btns {
    transform: translateY(-30px);
  }
  .feature_card {
    padding: 20px;
    grid-template-columns: 100%;
    gap: 15px;
    max-width: 100%;
  }
  .feature_cards_row .feature_card:nth-child(2) .description2 {
    max-width: max-content;
  }
  .feature_cards_row .feature_card:nth-child(1) .description2,
  .feature_cards_row .feature_card:nth-child(4) .description2 {
    display: none;
  }
  .sm_btn {
    padding: 14px 18px !important;
  }
  .feature_cards_row .feature_card:nth-child(4) {
    grid-template-columns: 100%;
    grid-template-areas: initial;
  }
  .feature_cards_row .feature_card:nth-child(1) .feature_image,
  .feature_cards_row .feature_card:nth-child(4) .feature_image {
    width: 70%;
    transform: translateY(20px);
    margin: auto;
  }
  .feature_cards_row .feature_card:nth-child(2) .feature_image {
    margin-top: 10px;
    width: 70% !important;
    transform: translateX(0);
    margin: auto;
  }

  .hero_content {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .logo_symbol_bx {
    padding: 12px;
    gap: 10px;
    transform: translate(1px, -210px);
  }
  .logo_symbol_bx img {
    width: 50px;
  }
  header {
    padding: 0 15px;
  }
  /* navbar */
  .navbar-brand {
    width: 150px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-nav {
    gap: 10px;
    padding: 10px 0 15px;
  }
  .nav-link {
    padding: 6px 8px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }
  .nav-link.dropdown-toggle,
  .btns {
    padding: 10px 14px !important;
    font-size: 15px;
    font-weight: 500;
  }
  .security_card {
    padding: 10px !important;
    gap: 10px;
  }
  .security_content {
    grid-template-columns: 100%;
    gap: 5px;
  }
  .security_content .feature_image {
    transform: translate(10px, 10px);
  }
  .investment_card {
    padding: 0 0 0 15px;
  }
  .investment_content {
    gap: 10px;
    width: fit-content;
    min-width: initial;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 9;
    backdrop-filter: blur(20px);
    border: 1px solid #ffffff4a;
    background-color: #ffffff59;
  }
  .feature_image {
    width: 480px;
    transform: translateX(-150px);
  }

  .accordion-item:first-of-type,
  .accordion-item:last-of-type,
  .accordion-item {
    border-radius: 20px;
    padding: 5px;
  }

  /* footer */
  .normal {
    font-size: 30px;
    font-weight: 700;
  }
  .ft_midle_bar img {
    height: 100px;
  }
  .ft_menu ul {
    padding: 15px 0;
    gap: 6px 20px;
    flex-wrap: wrap;
    border-top: 1px solid #ffffff75;
    border-left: 0;
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 0 15px;
  }
  .ft_midle_bar {
    flex-wrap: wrap;
    padding: 20px 0px 0;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px 40px;
    border-top: 1px solid rgb(255 255 255 / 55%);
    border-bottom: 1px solid rgb(255 255 255 / 55%);
  }
  .ft_menu {
    width: 100%;
  }
  /* investment */
  .investment_section .main_bx {
    height: initial;
  }
  .investment_section .radial_img img {
    bottom: 220px;
    width: 100%;
  }
  .property_data {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    max-height: initial;
    margin-top: 20px;
  }
  .property_content {
    gap: 10px;
  }
  .property_data a {
    margin-top: 10px;
  }
  .property_data img {
    transform: initial;
  }
  .property_data p {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
  }
  .partners .partners_data {
    width: 100%;
  }
  .partners_logo {
    border-radius: 12px;
    padding: 15px;
    gap: 10px;
  }
  .logos {
    gap: 15px;
  }
  .partners .partners_data:last-child {
    grid-template-columns: 100%;
    gap: 10px;
  }
}
